@page "/questionAdmin"
@using QuestionEngine.Shared
@inject HttpClient Http

<h3>QuestionAdmin</h3>



@code {
    private Question forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<Question>("QuestionEngine");
    }

}